.button-add-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
table {
  width: 100%;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}
