.button-add-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
table {
  width: 100%;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.mat-elevation-z8 {
  overflow-x: auto;
 }

.header-list {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}
